body{
    margin:0;
    font: normal 16px arial,helvetica,sans-serif;
    color: #333;
}

#particles-js{
    background:black;
    height: 100vh;
    width: 100vw;
}

#temp-converter{
    background: #ccc;
    opacity: 0.9;
    padding:2em;
    border:#ccc 2px solid;
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left:750px;
}

#temp-converter h1{
    text-align: center;
}

.element-invisible {
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
  }